{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">	
	<title>{% trans "Mobiles Stadtged&auml;chtnis" %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link href="{%static "stadtgedaechtnis/css/style.css" %}" rel="stylesheet" media="all">
	<!--[if lt IE 9]><script src="{%static "stadtgedaechtnis/js/html5shiv-printshiv.js" %}" media="all"></script><![endif]-->
	<script type="text/javascript" src="{%static "stadtgedaechtnis/js/modernizr-latest.js" %}"></script>
	<script type="text/javascript" src="{%static "stadtgedaechtnis/js/jquery-1.11.0.js" %}"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBu_pyZCIn6bsQz6NtcuCYW8TtwITydf_I&sensor=true&language={{ LANGUAGE_CODE }}"></script>
	<script type="text/javascript" src="{%static "stadtgedaechtnis/js/geolocationmarker.js" %}"></script>
	<script type="text/javascript" src="{%static "stadtgedaechtnis/js/maps.js" %}"></script>
	<script type="text/javascript" src="{%static "stadtgedaechtnis/js/jquery.js" %}"></script>
</head>
<body onload="initialize_Map()">
	<header role="banner">	
		<nav role="navigation">
			<ul>
				{% get_language_info_list for LANGUAGES as languages %}
				{% for language in languages %}
				<li>
					<form action="{% url 'set_language' %}" name="lang{{ language.code}}" method="post">
					{% csrf_token %}
					<input type="hidden" name="language" value="{{ language.code }}">
					<a href="#" onclick="document.lang{{ language.code}}.submit();return false;" {% if language.code == LANGUAGE_CODE %} class="current"{% endif %}><b>{{ language.code }}</b></a>{% if not forloop.last %}&nbsp;<b>|</b>&nbsp;{% endif %}
					</form>
				</li>
				{% endfor %}
			</ul>
		</nav>	
		<h1>{% trans "Stadtged&auml;chtnis Coburg" %}</h1>
	</header>
	
	<div id="container">
		<main role="main">
			<section class="max_map">
			<div class="max_map" id="map_canvas"></div>
			</section>
			<!--
			<footer role="complementary">
				<h3>Gro&szlig;brand in Coburg - Die Sch&auml;den im Puppenmuseum</h3>
				<img src="{{ MEDIA_URL }}/9/friedhof.jpg" alt="J&uuml;discher Friedhof"/>
			</footer>-->
		</main>
	</div>		
</body>
</html>