[submodule "stadtgedaechtnis_backend"]
	path = stadtgedaechtnis_backend
	url = git@github.com:codeforeurope/stadtgedaechtnis_backend.git
[submodule "stadtgedaechtnis_frontend"]
	path = stadtgedaechtnis_frontend
	url = git@github.com:codeforeurope/stadtgedaechtnis_frontend.git
