{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{block.super}}
<script type="text/javascript" src="{% static "stadtgedaechtnis/js/admin.js"%}"></script>
{% endblock %}

{% block after_field_sets %}
<h2>{% trans 'Orte in der N&auml;he' %}</h2>
<fieldset class="module aligned {{ fieldset.classes }}">
<table id="locations">
<tr id="header"><th>{% trans 'Ort' %}</th><th>{% trans 'DBpedia-Link' %}</tr>
</table>
</fieldset>
{% endblock %}
