{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{block.super}}
<style type="text/css">
	#map_canvas {
		height: 400px;
		width: 100%;
		visibility: hidden;
	}
</style>
<script type="text/javascript" src="{%static "stadtgedaechtnis/js/jquery-1.11.0.js" %}"></script>
<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<script type="text/javascript" src="{% static "stadtgedaechtnis/js/admin/add_location.js"%}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu_pyZCIn6bsQz6NtcuCYW8TtwITydf_I&sensor=false"></script>
{% endblock %}

{% block after_field_sets %}
<h2>{% trans 'Orte in der N&auml;he' %}</h2>
<p><a onclick="search_locations()" href="#">{% trans 'Orte suchen' %}</a>&nbsp;<img src="{% static "stadtgedaechtnis/img/ajax-loader.gif" %}" id="loading" style="visibility: hidden;"></p>
<fieldset class="module aligned {{ fieldset.classes }}">
<table id="locations">
	<tr><th>{% trans 'Ort' %}</th><th>{% trans 'DBpedia-Link' %}</th></tr>
</table>
</fieldset>
<fieldset class="module aligned {{ fieldset.classes }}">
<div id="map_canvas"></div>
</fieldset>
{% endblock %}
