html {
	height: 100%;
}

body {
	font-family: Trebuchet MS, Arial, sans-serif;
	height: 100%;
    overflow: hidden;
}

p.infowindow {
    font-family: Trebuchet MS, Arial, sans-serif;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

/* responsive image resizing
 * must be applied to a subclass
 * otherwise google maps will display incorrectly
 *
img {
	max-width: 100%;
	width: auto;
} */ 

a {
	color: black;
}

/* Header style */
header[role="banner"] {
	background-image: url(../img/header.png);
	background-image: none, url(../img/header.svg);
	background-size: 100% 100%;
	padding: .5rem;


	h1 {
		text-transform: uppercase;
		font-size: 1.3rem;
		margin: 0;
		text-align: right
	}

	nav {

		ul {
			float: left;
			margin: 0;
			padding: 0;
			list-style-type: none;

			li {
				float: left;

				a {
					text-decoration: none;
					text-transform: uppercase;
				}

				a.current {
					text-decoration: underline;
				}
			}
		}
	}

}

footer[role="complementary"] {
  margin: 0;
  height: 8rem;
  padding: 0.5rem;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.70);
  -webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.70);
  position: relative;
  z-index: 1000;
  overflow: hidden;

  h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  p {
     margin-top: 0;
     margin-bottom: 0.5rem;
     -moz-hyphens: auto;
     -o-hyphens: auto;
     -webkit-hyphens: auto;
     -ms-hyphens: auto;
     hyphens: auto;
  }

  img {
    width: 100%;
  }
}
/* Initial container moving */
div#container {
  height: 100%;
  overflow: hidden;
}

/* Sizing of map_section and map_canvas */
main, .max_map {
	height: 100%;
	width: 100%;
}
