html {
    height: 100%;
}

body {
    font-family: Trebuchet MS, Arial, sans-serif;
    height: 100%;
    overflow: hidden;
}

p.infowindow {
    font-family: Trebuchet MS, Arial, sans-serif;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

a {
    color: black;
}

.center {
  text-align: center;
}

/* Header style */
header[role="banner"] {
    background-image: url(../img/header.png);
    background-image: none, url(../img/header.svg);
    background-size: 100% 100%;
    padding: .5rem;


    h1 {
        text-transform: uppercase;
        font-size: 1.3rem;
        margin: 0;
        text-align: right
    }

    nav {

        ul {
            float: left;
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                float: left;

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                }

                a.current {
                    text-decoration: underline;
                }
            }
        }
    }

}

div.article-heading {
  display: table;
  width: 100%;

  div.article-heading-row {
    display: table-row;

    div.article-heading-cell {
      display: table-cell;
      vertical-align: middle;
      padding: 0 .2em .5em .2em;

      h3 {
        margin: 0;
      }

    }
  }

  }

div.article-heading-cell.entry-list {
  position: relative;
  overflow: auto;
}

ul.entrylist {
  list-style: none;
  padding: 0;

  li {
    float: left;
  }
}

section#article-section div.article-heading-cell, div.article-heading-cell {
    img {
      width: auto;
      height: auto;
      cursor: pointer;
    }
  }

section#article-section {
  margin: 0;
  height: 8rem;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.70);
  -webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.70);
  position: relative;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: grab;

  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  img {
    width: 100%;
  }

  img#load-more {
    width: auto;
    margin-top: 15px;
  }

  article#entry-more {

    * {
      margin-top: 10px;
    }
  }
}

/* Sizing of map_section and map_canvas */
main, .max_map {
  height: 100%;
  width: 100%;
  float: left;
}

@media screen and (min-width: 768px) {
  section#article-section {
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.70);
    -webkit-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.70);
  }
}
