html {
    height: 100%;
}

body {
    font-family: Trebuchet MS, Arial, sans-serif;
    height: 100%;
    overflow: hidden;
}

div.infowindow {
  font-family: Trebuchet MS, Arial, sans-serif;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 0;
  max-height: 250px;

  p {
    margin: .2rem 0;
  }

  ul {
    margin: .2rem 0;
    padding: 0;

    li {
      margin: .3rem 0;
    }
  }
}

a {
  color: black;
  outline: none;
}

.center {
  text-align: center;
}

/* Header style */
header[role="banner"] {
    background-image: url(../img/header.png);
    background-image: none, url(../img/header.svg);
    background-size: 100% 100%;
    padding: .5rem;


    h1 {
        text-transform: uppercase;
        font-size: 1.3rem;
        margin: 0;
        text-align: right
    }

    nav {

        ul {
            float: left;
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                float: left;

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                }

                a.current {
                    text-decoration: underline;
                }
            }
        }
    }

}

div.article-heading {
  width: 100%;
}

section#article-section {
  margin: 0;
  //height: 8rem;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.70);
  -webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.70);
  position: relative;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: grab;

  div.entry-list {
    div.article-heading {
      img {
        padding-top: .4rem;
        width: auto;
        height: auto;
        cursor: pointer;
      }

      img#previous {
        float: left;
      }

      img#next {
        float: right;
      }

      h3 {
        margin: 0 0 .5rem 0;
      }

      div.entry-slide {
        width: 16px;
        float: left;
      }
    }

    position: relative;
    overflow: auto;
    float: left;
    height: 100%;
    width: 100%;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;

      li {
        float: left;
        width: 100%;
      }
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  img {
    width: 100%;
  }

  img.load-more {
    width: auto;
    margin-top: 15px;
  }

  article.entry-more {
    clear: both;
    padding-top: .1rem;

    * {
      margin-top: 10px;
    }
  }
}

/* Sizing of map_section and map_canvas */
main, .max_map {
  height: 100%;
  width: 100%;
  float: left;
}

@media screen and (min-width: 768px) {
  section#article-section {
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.70);
    -webkit-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.70);
  }
}
