{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">	
	<title>{% trans "Mobiles Stadtged&auml;chtnis" %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link href="{%static "stadtgedaechtnis_frontend/css/style.css" %}" rel="stylesheet" media="all">
	<!--[if lt IE 9]><script src="{%static "stadtgedaechtnis_frontend/js/html5shiv-printshiv.js" %}" media="all"></script><![endif]-->
	<script type="text/javascript" src="{%static "stadtgedaechtnis_frontend/js/modernizr-latest.js" %}"></script>
	<script type="text/javascript" src="{%static "stadtgedaechtnis_frontend/js/jquery-1.11.0.js" %}"></script>
	<script type="text/javascript" src="{%static "stadtgedaechtnis_frontend/js/jquery.transit.js" %}"></script>
	<script type="text/javascript" src="{%static "stadtgedaechtnis_frontend/js/jquery.touchSwipe.js" %}"></script>
	<script type="text/javascript" src="{%static "stadtgedaechtnis_frontend/js/unslider.js" %}"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBu_pyZCIn6bsQz6NtcuCYW8TtwITydf_I&sensor=true&language={{ LANGUAGE_CODE }}"></script>
	<script type="text/javascript" src="{%static "stadtgedaechtnis_frontend/js/geolocationmarker.js" %}"></script>
	<script type="text/javascript" src="{%static "stadtgedaechtnis_frontend/js/maps.js" %}"></script>
	<script type="text/javascript" src="{%static "stadtgedaechtnis_frontend/js/jquery.js" %}"></script>
</head>
<body onload="initialize_Map()">
	<header role="banner">	
		<nav role="navigation">
			<ul>
				{% get_language_info_list for LANGUAGES as languages %}
				{% for language in languages %}
				<li>
					<form action="{% url 'set_language' %}" name="lang{{ language.code}}" method="post">
					{% csrf_token %}
					<input type="hidden" name="language" value="{{ language.code }}">
					<a href="#" onclick="document.lang{{ language.code}}.submit();return false;" {% if language.code == LANGUAGE_CODE %} class="current"{% endif %}><b>{{ language.code }}</b></a>{% if not forloop.last %}&nbsp;<b>|</b>&nbsp;{% endif %}
					</form>
				</li>
				{% endfor %}
			</ul>
		</nav>	
		<h1>{% trans "Stadtged&auml;chtnis Coburg" %}</h1>
	</header>

	<main role="main">
		<section class="max_map">
		<div class="max_map" id="map_canvas"></div>
		</section>
		<section id="article-section">
			<div class="entry-list">
				<ul>
					<li>
						<div class="article-heading">
							<div class="article-heading-row">
								<a href="#" class="previous">
								<div class="article-heading-cell entry-slide previous">
									<img src="{%static "stadtgedaechtnis_frontend/img/left.png" %}">
								</div>
								</a>
								<div class="article-heading-cell">
									<h3></h3>
								</div>
								<a href="#" class="next">
								<div class="article-heading-cell entry-slide next">
									<a href="#"><img src="{%static "stadtgedaechtnis_frontend/img/right.png" %}"></a>
								</div>
								</a>
							</div>
						</div>
						<img src="" alt="" id="entry-first"/>
						<div class="center">
							<img src="{%static "stadtgedaechtnis_frontend/img/ajax-loader.gif" %}" id="load-more-0" class="load-more">
						</div>
						<article class="entry-more" id="entry-more-0">
						</article>
					</li>
				</ul>
			</div>
		</section>
	</main>
</body>
</html>